/* KP */
.kp .red {
  color: #d32f2f;
}

.kp-notice {
  border: 1px dashed #d32f2f;
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.kp-notice p {
  margin: 0;
  line-height: 1.75;
}

.kp-introduction {
  margin-bottom: 3rem;
}

.kp-box {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-top: 2rem;
}
@media print, screen and (min-width: 37.5em) {
  .kp-box {
    padding: 1rem;
  }
}
.kp-box h2 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  padding: 4px 8px;
  color: #00acc1;
  background-color: white;
  border: 1px solid #00acc1;
  display: inline-block;
  margin: 0 auto 1.5rem;
}

.kp-box .large-text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.7;
}
.kp-box .large-text .line-break {
  display: inline;
}
.kp-box .large-text small {
  font-weight: 500;
}
@media screen and (min-width: 39.0625em) {
  .kp-box .large-text {
    font-size: 1.5rem;
    text-align: center;
  }
  .kp-box .large-text .line-break {
    display: inline-block;
  }
}
.kp-box ul {
  line-height: 1.7;
  margin-top: 0.5rem;
}

.kp-description {
  margin-top: 5rem;
}
.kp-description h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}
.kp-description li {
  margin-bottom: 1rem;
}

.kp-flow {
  margin-top: 5rem;
}
.kp-flow h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.kp-flowbox {
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
  padding: 2.5rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 30em) {
  .kp-flowbox {
    padding: 1rem 1rem 1rem 3rem;
  }
}
.kp-flowbox .num {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  font-weight: 900;
  color: white;
  background-color: #00acc1;
  position: absolute;
  top: 0;
  left: 0;
}
.kp-flowbox h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}
.kp-flowbox h3 span {
  display: inline-block;
}
.kp-flowbox p {
  line-height: 1.75rem;
  margin-bottom: 0;
}
.kp-flowbox h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.kp-flowbox p {
  font-size: 0.9rem;
  line-height: 1.5;
}
.kp-flowbox {

}

a.kp-button {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #2196f3;
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  margin-top: 20px;
}
a .kp-button:hover {
  background-color: #51adf6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.kp-flowbox._2nd ._medium-up {
  display: none;
}
@media print, screen and (min-width: 37.5em) {
  .kp-flowbox._2nd ._medium-up {
    display: inline;
  }
}
.kp-flowbox._2nd ._2nd-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
}
.kp-flowbox._2nd img {
  display: none;
}
@media print, screen and (min-width: 37.5em) {
  .kp-flowbox._2nd img {
    display: block;
    width: 200px;
  }
}

.kp-flowbox._2nd small {
  margin-top: 1rem;
}
.kp-flowbox._3rd {
  margin-bottom: 1.5rem;
}
.kp-flowbox._3rd .kp-kessai {
  font-size: 1.1rem;
  line-height: 1.25;
  font-weight: 700;
  padding: 5px;
  color: #00acc1;
  text-align: center;
  border-top: 1px solid #00acc1;
  border-bottom: 1px solid #00acc1;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.kp-flowbox._3rd .kp-kessai span {
  display: inline-block;
}
.kp-flowbox._3rd .kp-kessai2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 3rem;
  color: #00acc1;
}
.kp-flowbox._3rd img {
  margin: 1rem auto;
}
.kp-flowbox._3rd ul {
  line-height: 1.7;
}
.kp-flowbox._3rd li + li {
  margin-top: 1rem;
}
.kp-downarrow {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.25rem solid #00acc1;
  margin: 1.5rem auto;
}

.kp-faq {
  margin-top: 5rem;
}
.kp-faq h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.kp-faq .kp-faq-box {
  background-color: #f1f1f1;
  border-radius: 20px;
  display: grid;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  grid-template: "Q ... text" / auto 1rem 1fr;
  place-items: center start;
  margin-bottom: 1.5rem;
}
.kp-faq .kp-faq-box span {
  grid-area: Q;
  color: #d32f2f;
  font-size: 2rem;
  font-weight: 300;
}
.kp-faq .kp-faq-box h3 {
  grid-area: text;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

/* kp3 */

.kp3 .red {
  color: #d32f2f;
}

.kp3-notice {
  border: 1px dashed #d32f2f;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.kp3-notice p {
  margin: 0;
  line-height: 1.75;
}

.kp3-introduction {
  margin-bottom: 2rem;
}

.kp3-plan-box {
  background-color: #f1f1f1;
  padding: 1rem 0.5em;
  margin-top: 3rem;
}
.kp3-plan-box h2 {
  text-align: center;
  font-size: 1.2em;
}

.kp-plan-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 1rem;
}
@media print, screen and (min-width: 37.5em) {
  .kp-plan-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
}

.kp3-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.kp3-plan._sub {
  color: #666;
}
.kp3-plan h3 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  padding: 4px 8px;
  background-color: white;
  display: inline-block;
  margin: 0 auto 1rem;
}
.kp3-plan h3.headding-red {
  color: #d32f2f;
  border: 1px solid #d32f2f;
}
.kp3-plan .large-text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
}
.kp3-plan .large-text .line-break {
  display: inline;
}
.kp3-plan .large-text small {
  font-weight: 500;
  font-size: 0.9rem;
}

.kp3-description {
  margin-top: 4rem;
}
.kp3-description h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.kp3-description li {
  margin-bottom: 1rem;
  line-height: 1.75;
}
.kp3-description strong {
  color: #d32f2f;
}

.kp3-flow {
  margin-top: 5rem;
}
.kp3-flow h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.kp3-flowbox {
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
  padding: 2.5rem 0.5rem 0.5rem 0.5rem;
}
@media screen and (min-width: 30em) {
  .kp3-flowbox {
    padding: 1rem 1rem 1rem 3rem;
  }
}
.kp3-flowbox .num {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  font-weight: 900;
  color: white;
  background-color: #00acc1;
  position: absolute;
  top: 0;
  left: 0;
}
.kp3-flowbox h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}
.kp3-flowbox h3 span {
  display: inline-block;
}
.kp3-flowbox p {
  line-height: 1.75rem;
  margin-bottom: 0;
}
.kp3-flowbox .kp3-about h4 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.kp3-flowbox .kp3-about p {
  font-size: 0.9rem;
  line-height: 1.5;
}
.kp3-flowbox._1st a {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #2196f3;
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  margin-top: 20px;
}
.kp3-flowbox._1st a:hover {
  background-color: #51adf6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.kp3-flowbox._2nd .caption {
  font-size: 0.9rem;
  line-height: 1.75;
  margin-top: 1rem;
}
.kp3-flowbox._3rd .kp3-about {
  margin-bottom: 1.5rem;
}
.kp3-flowbox._3rd .kp3-kessai2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 3rem;
}
.kp3-flowbox._3rd img {
  margin: 2rem auto;
}
.kp3-flowbox._3rd ul {
  line-height: 1.7;
}
.kp3-flowbox._3rd li + li {
  margin-top: 1rem;
}

.kp3-downarrow {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;
  border-top: 1.25rem solid #00acc1;
  margin: 1.5rem auto;
}

.kp3-faq {
  margin-top: 5rem;
}
.kp3-faq h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.kp3-faq .kp3-faq-box {
  background-color: #f1f1f1;
  border-radius: 20px;
  display: grid;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  grid-template: "Q ... text" / auto 1rem 1fr;
  place-items: center start;
  margin-bottom: 1.5rem;
}
.kp3-faq .kp3-faq-box span {
  grid-area: Q;
  color: #d32f2f;
  font-size: 2rem;
  font-weight: 300;
}
.kp3-faq .kp3-faq-box h3 {
  grid-area: text;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}
